@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;

  .wrapper {
    max-width: 60%;
    margin: auto;
    height: 100%;

    @include mobile {
      max-width: 100%;
    }

    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        gap: 20px;
        align-items: center;
        justify-content: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 60px;

        @include mobile {
          font-size: 40px;
        }
      }

      .buttons {
        margin-top: 40px;

        @include mobile {
          margin-top: 20px;
        }

        a {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          position: relative;
          z-index: 90;
        }
        a:nth-child(2) {
          background: white;
          color: black;
        }
      }

      img {
        width: 50px;
        margin-top: 20px;
      }
    }
  }

  .imgContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;

    @include mobile {
      height: 50%;
      width: 100%;
      bottom: 0;
      top: unset;
      margin-right: 0px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 55vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;

    @include mobile {
      display: none;
    }
  }
}
