@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include mobile {
      max-width: 100%;
      padding: 20px;
      justify-content: flex-end;
    }

    span {
      font-weight: bold;
      font-size: larger;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;
      font-size: x-large;
    }
  }
}
